pipeline/DeliveryInstallation.json
{
	"name": "DeliveryInstallation",
	"properties": {
		"activities": [
			{
				"name": "Meta_DeliveryInstallation",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For_CopyInputFiles",
				"description": "Covert input files from csv to Parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Meta_DeliveryInstallation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Meta_DeliveryInstallation').output.item()",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"annotations": []
	}
}