pipeline/validatesqlsource.json
{
	"name": "validatesqlsource",
	"properties": {
		"activities": [
			{
				"name": "Validatesqlsource",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsradataset",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:10",
					"sleep": 0
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Validatesqlsource').output.exists,'false')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "TrueWait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					]
				}
			},
			{
				"name": "Do nothing",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validatesqlsource",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": []
			}
		],
		"annotations": []
	}
}